name: PR Lint
on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

permissions:
  contents: read
  pull-requests: write

jobs:
  celguard:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: konojunya/celguard@v1.1.2
